body{
  margin: 0;
  margin-top: 100px;

}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: none;
}
header {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  background: #810CA8;
  position: fixed;
  top: 0;
  height: 100px;
  align-items: center;

}

header nav a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  gap: 20px;
  padding: 20px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #2D033B;
  color: white;
  justify-content: center;
}

#welcome-section h1 {
 font-size: 50px;
 font-weight: bolder;
 margin: 0px;
}
#welcome-section p {
  margin: 0px;
  color: #E5B8F4;
  font-size: 30px;
}
#projects{
  width: 100%;
  height: auto;
  background-color: #C147E9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.project-head{
  width: 600px;
  height: 200px;
  margin: 0 auto;
  padding: 100px 0px 50px 0px;
}
.project-head h1{
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}
.project-head>.whiteDiv{
  width: 70%;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
}
.project-list{
  width: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.project-list .project{
  width:450px;
  height: 450px;
}
.project-list .project a{
  text-decoration: none;
}
.project-list .project .project-img{
  width: 450px;
  height: 300px;
}
.project-list .project .project-img img{
  width: 450px;
  height: 300px;
}

.project-list .project .project-title{
  width: 100%;
  height: 50px;
  background-color: #2D033B;
  text-align: center;
}
.project-list .project .project-title h1 {
  padding-top: 10px;
  color: #ffffff;
}
.project-list .project .project-title h1 span{
  color: #a80bdc;
  display: none;
}
.project-list .project .project-title h1:hover span{
  display: inline;
}
#projects .seeMore{
  width: 100px;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#projects .seeMore a{
  text-decoration: none;
}
#projects .seeMore .seeBtn{
  width: 100%;
  height: 100%;
  background-color: #2D033B;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.contact {
  width: 100%;
  height: 500px;
  background-color: #2D033B;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.contact .contact-title{
  margin-bottom:50px ;
}
.contact .contact-title p{
  color: #C147E9;
  font-size: 20px;
  text-align: center;
}
.contact .contact-title h1{
  font-size: 40px;
  color: #ffffff;
}
.contact .contact-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.contact .contact-list a {
  color:#ffffff;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}
.contact .contact-list a:hover{
  transform: translateY(10px);
  transition-duration: .85s;
}
.footer{
  width: 100%;
  height: 85px;
  background-color: #2D033B;
}
.footer .red-div{
  width: 100%;
  height: 3px;
  background-color: #E5B8F4;
}
.footer .footer-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.footer .footer-content p{
  color: #ffffff;
  font-size: 18px;
}

@media screen and (max-width:600px) {
  #welcome-section h1{
    font-size: 18px;
  }

  #welcome-section {
    height: 50vh;
  }

  #welcome-section p {
    font-size: 12px;

  }
  .project-head{
    width: 100%;
    height: 50px;
    padding: 20px 0px;
  }
  .project-head h1{
    font-size: 18px;
  }
  .project-list{
    width: 100%;
  }
  .project-list .project{
    width: 85%;
    height: 400px;
    margin: 0 auto;
  }
  .project-list .project .project-img,
  .project-list .project .project-img img{
    width: 100%;
  }
  .contact .contact-title h1{
    font-size: 30px;
  }
  .contact .contact-list{
    display: block;
  }
  .contact .contact-list a{
   padding: 120px;
  }
  .footer{
    height: 120px;
  }
  .footer .footer-content p{
    font-size: 14px;
    text-align: center;
    padding: 10px 0px ;
  }
}
